.boxone {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 10px;
    background-color: #78866b;
}

.boxtwo {
    width: 150px;
    padding: 10px;
    height: 150px;
    margin: auto;
    background-color: #4f4d32;
}

.boxthree {
    width: 150px;
    padding: 10px;
    height: 150px;
    margin: auto;
    background-color: #765c48;
}